extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark()
        a.navbar-brand(href='/') anynote
        div.collapse.navbar-collapse()
            ul.navbar-nav()
                li.nav-item.active() 
                    a.nav-link(href='/') Home   
    div.container-fluid
        div.row
            div.col-lg-4.col-md-4.sections()
                div.create-section()
                    button.btn.btn-primary(onclick='createSection()') Create new section
                    input#section(type='text', required)
                div.sections-display()
                    each section in sections
                        div.section-card(id= section._id)
                            h1.section-title(contentEditable='true') #{section.title}
                            span.buttons()
                                button.btn.btn-primary(onclick=`createNote('${section._id}')`) New note
                                button.btn.btn-primary(onclick=`renameSection('${section._id}')`) Rename section
                                button.btn.btn-primary(onclick=`deleteSection('${section._id}')`) Delete section

                        div.notes(id= section._id)
                                each note in section.notes
                                    div.note(id= note._id)
                                        h3.note-title(contentEditable='true') ${note.title}
                                        span.buttons()
                                            button.btn.btn-primary(onclick=`editNote('${note._id}')`) Edit note
                                            button.btn.btn-primary(onclick=`renameNote('${note._id}')`) Rename note
                                            button.btn.btn-primary(onclick=`deleteNote(${note._id})`) Delete note
                                    
            div.col-lg-8.col-md-8.textarea()
                textarea#text-field(name='notepad')
